@model appFermento_Natural_E_commerce.Models.Usuario

@{
    ViewData["Title"] = "Registro";
}

<h2>@ViewData["Title"]</h2>
<h1>CR7</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div>
                <label for="Nome">Nome:</label>
                <input id="Nome" name="Nome" type="text" />

                <label for="Email">E-mail:</label>
                <input id="Email" name="Email" type="email" />

                <label for="Senha">Senha:</label>
                <input id="Senha" name="Senha" type="password" />

                <label for="Endereço">Endereço:</label>
                <input id="Endereço" name="Endereço" type="text" />

                <label for="Celular">Telefone:</label>
                <input id="Celular" name="Celular" type="tel" />

                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>

